/*
* File Name : main.css v0.2.0
* Update : 2020.04.07
* Author : 이종섭
*/
/* main menu */
.Main-title{
    color: rgb(255, 200, 90);
}
ul {
    background: rgb(80, 80, 80);
    height: 50px;
    list-style: none;
    margin: 0px;
    width: 100%;
}
ul li {
    padding-top: 10px;
    height: 40px;
    float: left;
    width: 10%;
    text-align: center
}
ul li:hover {
    background: rgb(255, 200, 90);
    color: rgb(255,255,255);
}
ul li a {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
/* Home Title */
.home-title {
    color: rgb(255, 200, 90);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
/* article background */
.article1{    
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border-style: double;
    border-width: thick;
    text-align: center;
    padding: 1%;
    height: auto;
    color: rgb(255, 255, 255);
}
.bg1 {
    background-color: rgb(255, 200, 90);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 2%;
}
.bg1 section .box-test{
    color: rgb(255, 200, 90);
    float: left;
    width: 120px;;
    height: 120px;
    margin: 0 10px;
    background: rgb(255,255,255);
    border-radius: 50%;
    border-style: double;
    border-width: 10px;
}
/* 멀티미디어 연습 */
.img-size1 {
    width: 30%;
    border-style: outset;
    border-color: white;
}
.br1{border-top-left-radius: 25%;}
.br3{border-top-right-radius: 25%;}
.br7{border-bottom-left-radius: 25%;}
.br9{border-bottom-right-radius: 25%;}
.bg2 {
    padding-bottom: 2%;
    background-color: rgb(80, 80, 80);
}
.bg3{
    background-color: rgb(255, 200, 90);
    padding-bottom: 2%; 
}
.bg3 video{
    border-style: ridge;
    border-width: 10px;
}
.bg2 iframe{
    margin: 5px;
    border-style: ridge;
    border-width: 10px;
    width: 45%
}
.cattable{
    width: 90%;
    border-style: double;
    border-color: rgb(255,255,255);
    border-width: 10px;
    text-align: center;
    margin: 0 auto;
}
.cattable td, th{
    border: 1px solid rgb(255,255,255);    
}
.cattable th{
    width: 25%;
    height: 50px;
    padding: 5px;
}
.cattable td{
    width: 25%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}