/*
* File Name : main.css v0.2.0
* Update : 2020.04.07
* Author : 이종섭
*/
/* main menu */
ul {
    background: rgb(49, 49, 49);
    height: 30px;
    list-style: none;
    margin: 0px;
    padding: 15px 10px 8px;
    width: 100%;
}
ul li {
    float: left;
    margin-right: 10px;
}
ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
/* Home Title */
.home-title {
color: rgb(235, 235, 155);
font-size: 20px;
font-weight: bold;
margin-right: 50px;
}
/* article background */
.article-bg {
background-color: rgb(104, 104, 175);
color: rgb(255, 255, 255);
text-align: center;
height: 300px;
padding: 15px;
}