/*
* File Name : main.css v0.2.0
* Update : 2020.04.07
* Author : 이종섭
*/
/* main menu */
.Main-title{
    color: rgb(235, 235, 155);
}
ul {
    background: rgb(49, 49, 49);
    height: 30px;
    list-style: none;
    margin: 0px;
    padding: 15px 10px 8px;
    width: 100%;
}
ul li {
    float: left;
    width: 10%;
    text-align: center
}
ul li a {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* Home Title */
.home-title {
    color: rgb(235, 235, 155);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
/* article background */
.article-bg {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(100, 250, 200);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 250px;
    padding: 1%;
}
.article-bg section{
    float: left;
    width: 45%;
    color: rgb(100, 250, 200);
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 50%;
    background: white;
    border-radius: 20px;
    padding-top: 3%
}
.article-bg section .box-test{
    float: left;
}